<template name="underlyingRow">
  <tr data-row-id="{{id}}" id="tickerRow-{{id}}">
    <td>
      <div class="position-relative">
        <input type="text" 
               class="form-control form-control-sm bg-dark text-white fullName-autocomplete" 
               id="fullNameInput-{{id}}"
               value="{{name}}"
               placeholder="Enter name"
               autocomplete="off">
        <i class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-2 text-muted"></i>
        <div id="searchResults" class="position-absolute w-100 mt-1 d-none">
          <div class="card">
            <div class="list-group list-group-flush" id="searchResultsList">
              <!-- Results will be dynamically added here -->
            </div>
          </div>
        </div>
      </div>
    </td>
    <td><input type="text" class="form-control form-control-sm bg-dark text-white" id="tickerInput-{{id}}" value="{{ticker}}" readonly></td>
    <td><input type="text" class="form-control form-control-sm bg-dark text-white" id="exchangeInput-{{id}}" value="{{exchange}}" readonly></td>
    <td><input type="text" class="form-control form-control-sm bg-dark text-white" id="countryInput-{{id}}" value="{{country}}" readonly></td>
    <td><input type="text" class="form-control form-control-sm bg-dark text-white" id="currencyInput-{{id}}" value="{{currency}}" readonly></td>
    <td>
      <input type="number" 
             class="form-control form-control-sm bg-dark text-white" 
             id="strikeInput-{{id}}" 
             value="{{initialReferenceLevel}}"
             step="0.01">
    </td>
    <td>
      <button class="btn btn-danger btn-sm remove-ticker" data-id="{{id}}">
        <i class="fas fa-times"></i>
      </button>
    </td>
  </tr>
</template> 