{
  "private": {
    "eodApiKey": "YOUR_EOD_API_KEY",
    "xApiKey": "YOUR_X_API_KEY",
    "openaiKey": "YOUR_OPENAI_API_KEY"
  }
}

MONGO_URL=mongodb+srv://username:password@your-cluster.mongodb.net/your-database 