.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
  padding: 12px;
}

.bootstrap-table.fullscreen {
  background-image: url(images/pattern.png) !important;
  background-color: black !important;
}

#logo-menu {
  border-radius: 0px;
}

.heatmap-strong-green {
  animation: mymovedg 6s infinite;
}

@keyframes mymovedg {
  10% {
    background-color: rgba(0, 255, 0, 0.1);
  }
}

.heatmap-weak-green {
  animation: mymovedog 6s infinite;
}

@keyframes mymovedog {
  20% {
    background-color: rgba(137, 255, 0, 0.1);
  }
}

.heatmap-strong-orange {
  animation: mymovegd 4s infinite;
}

@keyframes mymovegd {
  10% {
    background-color: rgba(255, 128, 0, 0.1);
  }
}

.heatmap-weak-orange {
  animation: mymovewo 4s infinite;
}

@keyframes mymovewo {
  20% {
    background-color: rgba(255, 162, 0, 0.2);
  }
}

.heatmap-strong-red {
  animation: mymovesr 4s infinite;
}

@keyframes mymovesr {
  10% {
    background-color: rgba(255, 77, 0, 0.1);
  }
}

.heatmap-weak-red {
  animation: mymovewr 4s infinite;
}

@keyframes mymovewr {
  20% {
    background-color: rgba(255, 0, 0, 0.2);
  }
}

.pace .pace-progress {
  background: var(--bs-orange) !important;
}

.pace .pace-activity {
  border-color: transparent !important;
  border-top-color: var(--bs-orange) !important;
  height: 20px !important;
  top: 20px !important;
  left: 30%;
  /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
}

table.table-fit {
  width: auto !important;
  table-layout: auto !important;
}

table.table-fit thead th, table.table-fit tfoot th {
  width: auto !important;
}

table.table-fit tbody td, table.table-fit tfoot td {
  width: auto !important;
}

.reveal{

  white-space: nowrap;
  overflow: hidden;
  width: 45em;
  animation: type 8s steps(70, end);
}


@keyframes type{
  from { width: 0; }
}

.flip {


  margin: auto;
  -webkit-animation: rotateY 3s infinite;
  animation: rotateY 3s infinite;
}
@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}




@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

body {


  /* background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);  */

}
